@{
    Layout = "_LayoutDescolado";
    ViewData["Title"] = "Pagina Restrita";
}

 <p>Voce não tem permissão para acessar essa funcionalidade. <a asp-controller="Home" asp-action="Index">Clique aqui para voltar para home.</a></p>

